data/data_2021-Jun-17.csv
covid-wave/.DS_Store
.vscode/launch.json
.vscode/settings.json
hospitalisations.ipynb
.DS_Store
analysis.py
temp_analysis.py
burned_trace_output_saved_on_disk_run2.nc
Expected_posterior_output_I_longer_run.png
Expected_posterior_output_I.png
Expected_posterior_output_SIR_longer_run.png
Expected_posterior_output_SIR.png
I_output_saved_on_disk_run2.nc
I_output_saved_on_disk.nc
burned_trace_output_saved_on_disk_hosp0.nc
burned_trace_output_saved_on_disk_hosp2.nc
burned_trace_output_saved_on_disk_hosp3.nc
burned_trace_output_saved_on_disk_hosp4.nc
burned_trace_output_saved_on_disk_hosp5.nc
Expected_posterior_output_I_with_hosp.png
I_output_saved_on_disk_run3.nc
